<div class="navbar navbar-default navbar-fixed-bottom">
  <p class="navbar-text pull-left">© 2016 Marketplace</p>
  <ul class="nav navbar-nav navbar-left">
    <li><%= link_to "Terms", pages_tos_url , target:'_blank'%></li>
    <li><%= link_to "Link", pages_tos_url , target:'_blank'%></li>
  </ul>

  <a href="#" class="navbar-btn btn-info btn pull-right">
  <span class="glyphicon glyphicon-star"></span> social media</a>

</div>
